#tabuleiro{
    width:600px;
    height:600px;
    border:solid 5px #333;
}

#tabuleiro td {
    text-align: center;
    width: 65px;
    height: 60px;
}

.casa_cinza{
    background: #a3a3a3;
    font-size:40px;

}
.casa_branca{
    background: #ffffff;
    font-size:40px;
}
.casa_selecionada{
    background-color: #ffcf85;
}